/*GENERAL*/
body * {box-sizing: border-box;}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #262626;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #262626;
}
img {
  width: auto;
  max-width: 100%;
}
h1, h2, h3 {
  margin: 0;
}
h2 {
  font-size: 90px;
  color: #ffffff;
}
p {
  line-height: 27px;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.link-btn {
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.link-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*HEADER*/
header {
  background: #f9f8fb url("../images/bgHeader.jpg") no-repeat 0 0;
  min-height: 100vh;
  position: relative;
}
#svg-animation {
  position: relative;
}

/*NAVIGATION*/
.header__nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.link__nav-decor {
  margin-left: 40px;
  padding-top: 6px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  border-top: 3px solid transparent;
}
.link__nav-decor:hover {
  border-top: 3px solid red;
  cursor: pointer;
}
.mobile-menu {
  display: none;
}
/*FRESH LIFE*/
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
.header__info p {
  max-width: 370px;
}
.link-btn_orange {
  background-color: #ff6033;
}
.scroll {
  width: 24px;
  height: 40px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: 0 auto;
}
/*ABOUT US*/
.about-us {
  background-color: #00b2b2;
}
.about-us__flex-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__flex-cont img {
  position: relative;
  left: -50px;
}
.about-us__info {
  max-width: 500px;
  color: #ffffff;
  padding: 160px 0 200px;
}
.about-us__info a {
  color: #ffffff;
  display: block;
}
.about-us__info a:hover {
  text-decoration: underline;
}
/*OUR SERVICES*/
.our-services {
  background-color: #70bfff;
}
.our-services__flex-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link__group {
  padding-left: 102px;
}
.link-flex {
  display: flex;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  box-shadow: 0 0 20px rgba(78, 133, 178, 0.9);
  margin-bottom: 20px;
}
.link-flex:hover {
  box-shadow: 0 0 30px rgba(100, 50, 178, 0.9);
}
.link-flex > span:nth-child(1) {
  width: 300px;
  text-align: center;
}
.link-flex > span:nth-child(2) {
  width: 100px;
  height: 100px;
  text-align: center;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services__info {
  background: url("../images/ourServices.png") no-repeat 50% 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 25% 0;
  margin: 10px;
}
.our-services__info a {
  color: #ffffff;
  padding-left: 10px;
}
.our-services__info a:hover {
  text-decoration: underline;
}
/*GALLERY*/
.gallery {
  background-color: #ffe92f;
  padding: 80px 0 120px;
}
.gallery__flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery h2 {
  color: #262626;
}
.gallery p {
  padding: 5px 180px 28px;
  text-align: center;
}
.gallery__img-container {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
}
.padding-bottom {
  padding-bottom: 2%;
}
.row.padding-bottom > a {
  width: 65.5%;
}
.row.padding-bottom > div {
  width: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row > div {
  width: 49%;
}
.gallery__img-container a {
  display: block;
}
.gallery__img-container a:hover {
  opacity: 0.9;
}
.gallery__img-container img:hover {
}
.link-btn_blu {
  background-color: #5585a2;
  margin-top: 35px;
}
.gallery a:first-child:hover {
  text-decoration: underline;
}
/*SUB*/
.sub {
  padding: 135px 0 164px;
  background: #ffffff url("../images/sub.jpg") no-repeat center center;
}
.sub__flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub h3 {
  font-size: 40px;
}
.sub p {
  width: 550px;
  margin-bottom: 28px;
}
.sub form {
  display: flex;
  justify-content: space-between;
  /*width: 800px;*/
}
.sub input {
  display: block;
  width: 572px;
  height: 56px;
  font-size: 15px;
  padding-left: 10px;
}
.link-btn-green {
  background-color: #96b92c;
  margin-left: 20px;
}
/*BLOG*/
.blog {
  background-color: #b07cf7;
  padding: 80px 0 116px;
}
#blog + p {
  color: #ffffff;
  text-align: center;
  margin: 25px 0 34px;
  padding: 0 180px;
}
.blog__img-group {
  display: flex;
  justify-content: space-between;
}
.blog__img {
  position: relative;
  margin: 5px;
}
.blog__img a {
  display: block;
}
.blog__img-group a:hover {
  opacity: 0.7;
  transform: translateY(10px);
}
.day {
  position: absolute;
  top: 6%;
  left: 6%;
}
.img-title {
  position: absolute;
  bottom: -1%;
  left: 6%;
}
.img-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}
.img-title p span {
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-top: 20px;
  opacity: 0.7;
}
.link-btn_red {
  background-color: #f72b3b;
  margin-top: 33px;
}
/*CONTACT*/
.contact {
  background: #fefefe url("../images/contact-bg.jpg") no-repeat center center;
  padding: 78px 0 96px 0;
}
.contact h2 {
  color: #262626;
}
.contact p {
  width: 370px;
  text-align: center;
}
.form-container {
  padding-top: 27px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact form {
 /*width: 500px;*/
}
.form-container label {
  display: block;
}
.form-container input,
.form-container textarea {
  width: 500px;
  background-color: #00c4c4;
  opacity: 0.5;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
  padding-left: 15px;
  display: block;
  margin-bottom: 15px;
}
.form-container input {
  height: 50px;
}
.form-container textarea {
padding-top: 15px;
}
.form-container input:focus,
.form-container input:hover,
.form-container textarea:focus,
.form-container textarea:hover {
  opacity: 1;
}
.link-btn-fly {
  background-color: #00c4c4;
  opacity: 0.5;
}
.link-btn-fly:hover {
  opacity: 1;
}
.contact input::-webkit-input-placeholder { color: #ffffff; }
.contact input::-moz-placeholder { color: #ffffff; }
.contact textarea::-webkit-input-placeholder { color: #ffffff; }
.contact textarea::-moz-placeholder { color: #ffffff; }

.form-container ul {
  list-style-type: none;
  width: 500px;
  margin: 0;
  padding: 0;
}
.form-container li {
  height: 50px;
  margin-bottom: 15px;
  line-height: 25px;
  font-size: 20px;
}
.form-container li span {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 800;
}
.footer {
  background-color: #282828;
  padding: 30px 0;
}
.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b9b9b9;
  font-size: 16px;
}
.footer__flex-container span {
  font-weight: 700;
  color: #f72b3b;
}
.footer__flex-container a:hover {
  opacity: 0.7;
}
/*RESPONSIVE*/

@media screen and (max-width: 1202px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .form-container ul {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 20px;
  }
  header, .sub, .our-services__info {
    background-size: contain;
  }
  .link__group {
     padding-left: 50px;
   }
}
@media screen and (max-width: 800px) {
  .mobile-menu {
    display: inline-flex;
    margin-left: auto;
    position: relative;
  }

  .mobile-menu label {
    cursor: pointer;
  }

  .mobile-menu i:hover {
    color: #f72b3b;
  }

  .desktop-menu {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
  .dropdown-menu a:hover {
    color: #FF0000;
  }

  .dropdown-menu .link__nav-decor {
    margin: 0 0 10px 0;
  }

  .mobile-menu input[type="checkbox"]:checked + .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px 20px 5px;
    border-radius: 5px;
  }


  .gallery p {
    padding: 5px 10px 28px;
  }
  #blog + p {
    padding: 0 10px;
  }

  .form-container input,
  .form-container textarea,
  .form-container ul {
    width: 200px;
  }
  .sub input {
    width: 200px;
  }
  .sub p {
    max-width: 100%;
  }
  /*Our Services*/
  .our-services__flex-cont {
    flex-direction: column-reverse;
  }
  .link__group {
    padding-left: 0;
  }
  .link-flex > span:nth-child(1) {
    width: 200px;
  }
  .link-flex > span:nth-child(2) {
    width: 70px;
    height: 70px;
  }
  .about-us__flex-cont img {
    position: static;
  }
  .our-services__info {

  }
  /*ABOUT US*/
  .about-us__flex-cont {
    flex-direction: column-reverse;
  }
  .about-us__info {
    padding: 10px 0 0;
  }
  .about-us h2 {
    text-align: center;
  }
  /*BLOG*/
  .blog__img-group {
    flex-wrap: wrap;
    justify-content: center;
  }
}