/*GENERALE*/
body * {box-sizing: border-box;}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #262626;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #262626;
}
a:hover {
  text-decoration: underline;
}
img {
  width: auto;
  max-width: 100%;
}
h1, h2, h3 {
  margin: 0;
}
h2 {
  font-size: 90px;
  color: #ffffff;
}
p {
  line-height: 27px;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.link-btn {
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.link-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*HEADER*/
header {
  background: #f9f8fb url("../images/bgHeader.jpg") no-repeat 0 0;
  background-size: 100% auto;
}

/*NAVIGATION*/
.header__nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
}
.link__nav-decor {
  margin-left: 40px;
  padding-top: 6px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  border-top: 3px solid transparent;
}
.link__nav-decor:hover {
  border-top: 3px solid red;
  cursor: pointer;
}
/*FRESH LIFE*/
.header__info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
.header__info p {
  width: 370px;
}
.link-btn_orange {
  background-color: #ff6033;
}
.scroll {
  width: 24px;
  height: 40px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20%;
}
/*ABOUT US*/
.about-us {
  background-color: #00b2b2;
}
.about-us__flex-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__flex-cont img {
  position: relative;
  left: -50px;
}
.about-us__info {
  width: 500px;
  color: #ffffff;
  padding: 160px 0 200px;
}
.about-us__info a {
  color: #ffffff;
}
/*OUR SERVICES*/
.our-services {
  background-color: #70bfff;
}
.our-services__flex-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link__group {
  padding-left: 102px;
}
.link-flex {
  display: flex;
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  box-shadow: 0 0 20px rgba(78, 133, 178, 0.9);
  margin-bottom: 20px;
}
.link-flex:hover {
  box-shadow: 0 0 30px rgba(100, 50, 178, 0.9);
}
.link-flex > span:nth-child(1) {
  width: 300px;
  text-align: center;
}
.link-flex > span:nth-child(2) {
  width: 100px;
  height: 100px;
  text-align: center;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services__info {
  background: url("../images/ourServices.png") no-repeat 82px 98px;
  min-height: 790px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.our-services__info a {
  color: #ffffff;
}
/*GALLERY*/
.gallery {
  background-color: #ffe92f;
  padding: 80px 0 120px;
}
.gallery__flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery h2 {
  color: #262626;
}
.gallery p {
  width: 630px;
  padding: 5px 0 28px;
  text-align: center;
}
.gallery__img-container {
  width: 1170px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.padding-bottom {
  padding-bottom: 30px;
}
.gallery__img-container a {
  display: block;
}
.gallery__img-container a:hover {
  opacity: 0.9;
}
.link-btn_blu {
  background-color: #5585a2;
  margin-top: 35px;
}
/*SUB*/
.sub {
  padding: 135px 0 164px;
  background: #ffffff url("../images/sub.jpg") no-repeat 0 0;
}
.sub__flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub h3 {
  font-size: 40px;
}
.sub p {
  width: 550px;
  margin-bottom: 28px;
}
form {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.sub input {
  display: block;
  width: 572px;
  height: 56px;
  font-size: 15px;
  padding-left: 10px;
}
.link-btn-green {
  background-color: #96b92c;
}
/*BLOG*/
.blog {
  background-color: #b07cf7;
  padding: 80px 0 116px;
}
.blog p {
  width: 573px;
  color: #ffffff;
  text-align: center;
  margin: 25px 0 34px;
}
.blog__img-group {
  display: flex;
  justify-content: space-between;
}
.blog__img {
  position: relative;
}
.blog__img a {
  display: block;
}
.blog__img a:hover {
  opacity: 0.9;
}
.day {
  position: absolute;
  top: 30px;
  left: 30px;
}
.blog__img p {
  position: absolute;
  bottom: -6px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  width: 315px;
  text-align: left;
}
.blog__img p span {
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-top: 20px;
  opacity: 0.7;
}
.link-btn_red {
  background-color: #f72b3b;
  margin-top: 33px;
}